<div *ngFor="let employee of employees">
  <mat-card class="employee">
    
        <mat-card-header>
          <mat-card-title class="card-title">
            
              <p>
              {{ employee.name }}
              </p>
            
          </mat-card-title>
        </mat-card-header>
       
        <mat-card-actions class="card-buttons">
          <div>
            <button mat-icon-button><mat-icon>forward</mat-icon></button>
            <button mat-icon-button><mat-icon>star_half</mat-icon></button>
            <button mat-icon-button><mat-icon>done_outline</mat-icon></button>
          </div>
          <div>
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
          <button mat-icon-button ><mat-icon>delete_outline</mat-icon></button> 
          </div>
        </mat-card-actions>
      </mat-card>
</div>
    
    
