.add-employee{
    width: 200px;
    height: 200px;
    margin: 10px 10px 20px 10px;
    flex: 1;
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
