<h1>Add a employee </h1>
<form class="add-form">
    <mat-form-field>
    <input
        matInput
        name= "name"  [(ngModel)]= 'name' placeholder= 'Enter Name'>
    </mat-form-field>
    <mat-form-field>
        <input
            matInput
            name= "surName"  [(ngModel)]= 'surName' placeholder= 'Enter Surname'>
        </mat-form-field>
    <button mat-button (click)="add()">Add</button>
</form>
